In [5]:
#Berdasarkan Nim
nim=(input("Nim = "))
nama=input("Nama =")
print(len(nama))
print("=" * 30)
for i in range (1,int(nim[-3:])+1):
    print("Nama Saya ",nama , " : ",i)

Nim = 22111010
Nama =Junaidi
7
==============================
Nama Saya  Junaidi  :  1
Nama Saya  Junaidi  :  2
Nama Saya  Junaidi  :  3
Nama Saya  Junaidi  :  4
Nama Saya  Junaidi  :  5
Nama Saya  Junaidi  :  6
Nama Saya  Junaidi  :  7
Nama Saya  Junaidi  :  8
Nama Saya  Junaidi  :  9
Nama Saya  Junaidi  :  10

In [6]:
#Berdasarkan Panjang Nama
nim=(input("Nim = "))
nama=input("Nama =")
print(len(nama))
print("=" * 30)
for i in range (1,int(len(nama))+1):
    print("Nama Saya ",nama , " : ",i)

Nim = 22111010
Nama =Junaidi Surya
13
==============================
Nama Saya  Junaidi Surya  :  1
Nama Saya  Junaidi Surya  :  2
Nama Saya  Junaidi Surya  :  3
Nama Saya  Junaidi Surya  :  4
Nama Saya  Junaidi Surya  :  5
Nama Saya  Junaidi Surya  :  6
Nama Saya  Junaidi Surya  :  7
Nama Saya  Junaidi Surya  :  8
Nama Saya  Junaidi Surya  :  9
Nama Saya  Junaidi Surya  :  10
Nama Saya  Junaidi Surya  :  11
Nama Saya  Junaidi Surya  :  12
Nama Saya  Junaidi Surya  :  13

In [22]:
#x=36000000
#dp=25, bg=11
x=int(input("Jumlah Pinjaman = Rp."))
tn=int(input("Lama Pinjaman = "))
print("=" * 30)
dp=x*(0.25)
bg=(x-dp)*((0.11)/12)
angs=(x-dp)/(tn*12)
print("Uang Muka = Rp.", dp)
print("Angsuran Pokok /Bln = Rp.", angs)
print("Bunga /Bln = Rp.", bg)
print("Angsuran /Bln = Rp.", (angs+bg))
print("Total Angsuran = Rp.", (angs+bg)*(tn*12))

Jumlah Pinjaman = Rp.10000000
Lama Pinjaman = 1
==============================
Uang Muka = Rp. 2500000.0
Angsuran Pokok /Bln = Rp. 625000.0
Bunga /Bln = Rp. 68750.0
Angsuran /Bln = Rp. 693750.0
Total Angsuran = Rp. 8325000.0